<div class="container w-50 mt-3">
	<h1>Cree aquí su cocktail</h1>

	<%= simple_form_for @cocktail do |c| %>
	<%= c.input :name %>
	<%= c.input :photo, as: :file %>
	<%= c.submit "Add cocktail", class:"btn btn-primary"%>
	<% end %>
</div>