<div class="container w-50 mt-3">
	<h1>Cree aquí sus cantidades</h1>

	<%= simple_form_for [@cocktail, @dose] do |c| %>
	<%= c.association :ingredient, input_html: { class: 'select2' } %>
	<%= c.input :description %>
	<%= c.submit "Add to cocktail", class:"btn btn-primary"%>
	<% end %>
</div>
