// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import 'select2/dist/css/select2';


.btn {
  border-radius: 10px;
}

.container {
  position: relative;
  padding-top: 5px;
  margin-top: 5px;
}

.container h1 {
  text-align: center;
}

.banner {
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}


.banner h1 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

body {
  background-color: white;
  font-family: "Courier New", "sans-serif";
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}


.stars {
  color: yellow;
}
